html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.boardContainer {
  width: 600px;
  margin: 0 auto;
  overflow: auto;
}

.pad {
  height: 300px;
  width: 300px;
  border: 1px solid #eee;
  float: left;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.center {
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  top: 200px;
  left: 200px;
}

.red {
  background-color: #f44336;
}

.red.highlight {
  background-color: red;
}


.blue {
  background-color: rgba(0, 114, 255, 0.76);
}

.blue.highlight {
  background-color: rgba(0, 173, 255, 1);
}

.yellow {
  background-color: #ffeb3b;
}

.yellow.highlight {
  background-color: yellow;
}

.green {
  background-color: green;
}

.green.highlight {
  background-color: #4caf50;
}
